// Here you can add other styles

.sidebar {
  background: #234d83;
  .nav-link {
    &.active {
      background: #1c3e69;
    }
    &:hover {
      background: #2a63a4;
    }
    &.active .nav-icon {
      color: #3cabf9;
    }
    .nav-icon {
      color: #bcd3e6;
    }
  }
}

.breadcrumb {
  background-color: #2e65a8;
}

.breadcrumb-item {
  &.active {
    color: #f0f3f5;
  }
  a {
    color: #cecece;
  }
}

.card-header {
  background-color: #ffffff;
  border-bottom: 1px solid #ebedef;
  font-size: 18px;
}

.navbar-brand {
  margin: 0 auto !important;
}

.btn-material {
  color: #234d83;
  background: transparent;
  border: 0;
  font-size: 16px;
  font-weight: lighter;
  &:hover {
    background: rgba(26, 46, 87, 0.1);
  }
}

.btn-material-secondary {
  color: #fff;
  background: #234d83;
  border: 0;
  margin-left: 10px;
  font-size: 16px;
  font-weight: lighter;
  &:hover {
    color: #234d83;
    background: rgba(26, 46, 87, 0.1);
  }
}



.btn-tn {
  color: #fff;
  border: 1px solid #2a63a4;
  background: #2a63a4;
  width: 200px;
  &:hover {
    color: #fff;
    background: #1e4373;
  }
}

.btn-link {
  font-weight: 400;
  color: #2a63a4;
  background-color: transparent;
}

.white-space {
  white-space: pre-wrap;
}

.btn-link:hover {
  color: #167495;
  text-decoration: underline;
  background-color: transparent;
  border-color: transparent;
}

.btn-link:focus, .btn-link.focus {
  text-decoration: underline;
  border-color: transparent;
  box-shadow: none;
}

.btn-link:disabled, .btn-link.disabled {
  color: #73818f;
  pointer-events: none;
}

.form-control:focus {
  color: #5c6873;
  background-color: #fff;
  border-color: #2a63a4;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(32, 168, 216, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(42, 99, 164, .35);
}

.input-group-text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  background-color: #2a63a4;
  border: 1px solid #2a63a4;
  border-radius: 0.25rem;
}

.app-header {
  border-bottom: 2px solid #2f85c2;
}

.app-header .navbar-brand {
  position: relative;
  left: 0;
  margin-left: 0;
}

.card-remove {
  flex-direction: row !important;
}

.card-img-top {
  width: auto;
}

.card-img-dimensions {
  width: 25% !important;
  height: 100% !important;
}

.button-align {
  text-align: right;
}

.card-title {
  font-size: 1.5rem;
}

.count-fuentes {
  padding: 4px;
  color: #2e64a7;
  //line-height: 10px;
  //position: relative;
  font-weight: bold;
  margin-left: 8px;
  background: #e4e5e6;
}

.views-card {
  font-size: 26px;
  font-weight: 500;
}

.loader {
  position: absolute;
  top: 50%;
  left: 52%;
  width: 200px;
  height: 200px;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition-delay: 0.2s;
  .icon {
    width: 170px;
    height: 170px;
    position: absolute;
    left: 0;
    top: 0;
    background: url('../assets/img/loading.svg') no-repeat 0 0;
    //background-size: 100px 100px;
  }
}

.is-loading {
  .loader {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s linear, visibility 0.3s linear;
    z-index: 99999;
    .icon {
      //animation: spin 500ms infinite linear;
    }
  }
}

.nof-container {
  display: flex;
  width: 100%;
  height: 550px;
  align-items: center;
}

.nof-container .nof {
  margin: 0 auto;
  width: 415px;
  height: 384px;
  background: url('../assets/img/nonews.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.nof-container .noa {
  margin: 0 auto;
  width: 415px;
  height: 384px;
  background: url('../assets/img/noarticles.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.nof-container .noe {
  margin: 0 auto;
  width: 415px;
  height: 384px;
  background: url('../assets/img/noevents.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-deck .card {
  transition: box-shadow .5s;
}

.card-deck .card:hover {
  box-shadow: .5px .5px 35px rgba(0, 0, 0, .2);
  transition: box-shadow .5s;
}

.card-body {
  padding: 1.5rem;
}

.card {
  border: 1px solid #f2f3f5;
}

.modal-dialog {
  max-width: 50%;
  margin: 15vh auto;
}

@media (max-width: 1024px) {

  .btn-wrapper {
    flex-direction: column !important;
    align-content: flex-end;
  }

  .btn-wrapper .btn{
    margin: 5px;
  }

  .card-img-dimensions {
    width: 35% !important;
  }
}

@media (max-width: 992px) {
  .sidebar-minimized .sidebar .nav-link:hover {
    background: #276398;
  }

}

@media (max-width: 768px) {

  .modal-dialog {
    max-width: 70% !important;
  }

  .title-article,
  .status-article,
  .interaction-article {
    text-align: center !important;
  }

  .interaction-article {
    margin-top: 10px;
  }

  .card-img-dimensions {
    width: 100% !important;
    height: auto !important;
  }

  .no-news {
    width: 320px;
    height: 256px;
  }

  .card-remove {
    flex-direction: column !important;
  }

  .button-align {
    text-align: center;
  }

  .buscar {
    margin-top: 1.5rem;
  }
}

@media (max-width: 425px) {

  .view-events img {
    width: 100%;
  }

  .btn-light {
    width: 100%;
  }

  .view-events {
    width: 100% !important;
  }

  .event-date-modal {
    font-size: 12px !important;
    padding: 0.5rem !important;
  }

  .dropzone-text {
    font-size: 16px !important;
  }

  .crear-eventos-wrapper {
    width: 100% !important;
  }

  .modal-dialog {
    max-width: 85% !important;
  }

  .show-calendario-btn {
    text-align: center !important;
  }

  .rbc-btn-group {
    width: 100% !important;
    text-align: center !important;
    padding: 3% !important;
  }

  .modal-dialog {
    max-width: 85%;
    margin: 15vh auto;
  }

  .btn-dark {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .btn-danger {
    width: 100%;
  }
}

@media (max-width: 375px) {

  .dropzone-text {
    font-size: 14px !important;
  }

  .rbc-toolbar span:last-child button:nth-child(1),
  .rbc-toolbar span:last-child button:nth-child(2),
  .rbc-toolbar span:last-child button:nth-child(4),
  .rbc-toolbar span:last-child button:nth-child(5) {
    font-size: 14px;
  }

  .no-news {
    width: 220px;
    height: 156px;
  }
}

@media (max-width: 320px) {

  .font-lg {
    font-size: .9rem !important;
  }

  .event-date-modal {
    font-size: 10px !important;
  }

  .btn-dropzone-wrapper .btn-tn {
    width: 180px !important;
    font-size: 14px;
  }

  .rbc-toolbar span:last-child button:nth-child(1),
  .rbc-toolbar span:last-child button:nth-child(2),
  .rbc-toolbar span:last-child button:nth-child(4),
  .rbc-toolbar span:last-child button:nth-child(5) {
    font-size: 10px;
  }

  .nof-container .nof {
    width: 100%;
    height: 260px;
  }

  .nof-container .noa {
    width: 100%;
    height: 260px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
    transform-origin: center center;
  }
  100% {
    transform: rotate(360deg);
    transform-origin: center center;
  }
}

.event-title {
  font-size: 20px;
  color: #292929;
  min-height: 72px;
}

.event-description-text {
  font-size: 1.3rem;
  padding: 5%;
  text-align: justify;
}

.event-modal-header {
  padding: 0;
  border-bottom: 0;
  width: 100%;
}

.event-description-title {
  padding: 2% 3% 3% 3%;
}

.event-date {
  color: #8c8c8c;
  margin-top: 25px;
  margin-bottom: 5px;
}

.event-card {
  min-height: 500px;
  transition: box-shadow .3s;
}

.event-card:hover {
  box-shadow: .5px .5px 30px rgba(41, 41, 41, 0.4);
}

$font-size: 14px;
$line-height: 1.4;
$lines-to-show: 3;

.event-description {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 20px;
}

//Calendario
.rbc-calendar {
  width: 100%;
  min-height: 80vh;
}

.rbc-toolbar {
  margin-top: 10px;
  background: #234d83;
  color: #fff;
  padding: 10px;
}

.calendario {
  background: rgba(255, 255, 255, 0.6);
}

.calendario-card {
  background: #f7f7f7;
}

.rbc-btn-group button {
  border: 0px !important;
  border-radius: 0px !important;
  color: #fff !important;
}

.rbc-btn-group button:hover {
  background-color: rgba(255, 255, 255, .5) !important;
  border: 1px solid
}

.rbc-toolbar button:active:hover, .rbc-toolbar button.rbc-active:hover, .rbc-toolbar button:active:focus, .rbc-toolbar button.rbc-active:focus {
  background-color: rgba(255, 255, 255, .5) !important;
  color: #fdfbff !important;
}

.rbc-toolbar button:focus {
  background-color: rgba(255, 255, 255, .5) !important;
  color: #fdfbff !important;
}

.rbc-toolbar button:active, .rbc-toolbar button.rbc-active {
  background-color: rgba(255, 255, 255, .5) !important;
  color: #fdfbff !important;
}

.rbc-toolbar .rbc-toolbar-label {
  font-size: 18px !important;
  font-weight: 600;
}

.rbc-toolbar span:last-child button:nth-child(3) {
  display: none;
}

.rbc-toolbar span:first-child button:nth-child(3), .rbc-toolbar span:first-child button:nth-child(3):hover {
  background-color: rgba(255, 255, 255, .8) !important;
  background: url("../assets/img/right-arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 30px;
  height: 30px;
  border-radius: 15px !important;
}

.rbc-toolbar span:first-child button:nth-child(2), .rbc-toolbar span:first-child button:nth-child(2):hover {
  background-color: rgba(255, 255, 255, .8) !important;
  background: url("../assets/img/left-arrow.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 15px !important;
}

.rbc-toolbar span:first-child button:nth-child(1), .rbc-toolbar span:first-child button:nth-child(1):hover {
  margin-right: 5px;
}

.search-events {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('../assets/img/transparency.svg');
  background-size: 25px 25px;
  background-position: left;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.8s ease-in-out;
  transition: width 0.8s ease-in-out;
}

.rbc-month-header {
  font-size: 14px;
  background: #1c3e69;
  color: white;
  padding: 7px;
}

.rbc-header {
  border-bottom: 0px !important;
  border-left: 0px !important;
}

.modal-dialog {
  max-width: 40%;
}

.modal-footer {
  border-top: 0;
}

.ql-editor {
  font-size: 16px;
}

.ql-editor[contenteditable=false]{
  background-color: #9b9b9b;
  color: #383838;
}

.article-title,
.category-title {
  font-size: 16px;
}

.titulo-evento {
  border: 1px solid #ccc;
  border-radius: 0;
}

.crear-eventos {
  background: white;
}

.crear-eventos-wrapper {
  width: 75%;
}

.dropzone-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: 200px;
  border-width: 2px;
  border-color: #ccc;
  border-style: dashed;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dropzone-icon {
  font-size: 60px;
  color: #535353;
}

.dropzone-text {
  font-size: 20px;
  color: #ccc;
}

.ql-editor {
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.ql-editor:focus {
  color: #5c6873;
  background-color: #fff;
  border-color: #2a63a4;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(42, 99, 164, 0.46);
}

.ql-editor[data-placeholder] {
  font-size: 14px;
  font-style: revert !important;
}

.showDeleteIcon {
  display: none;
}

.delete-icon {
  width: 30px;
  height: 30px;
  margin: 10px;
  cursor: pointer;
  background: url("../assets/img/delete.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border-width: 0;
  border-style: none;
  border-color: transparent;
}

.delete-wrapper {
  box-shadow: 0.5px 0.5px 20px rgba(19, 19, 19, 0.39);
}

.delete-wrapper:hover .showDeleteIcon {
  display: block;
  text-align: right;
}

.event-date-modal {
  font-size: 14px;
}

.bg-modal-header {
  background-color: #f4f7f9 !important;
}

.modal-body {
  padding-top: 0px;
}

.react-tagsinput:focus {
  outline: none;
}

.react-tagsinput-tag {
  background-color: #91bcf5 !important;
  border: 1px solid #234d83 !important;
  color: #1c3e69 !important;
}

.react-daterange-picker__clear-button react-daterange-picker__button {
  display: none !important;
}

.btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal-wrapp {
width: 100%;
}

.modal-view-tn {
  width: 50%;
  float: left;
}

.modal-options {
  display: flex;
  justify-content: space-around;
  width: 50%;
  float: right;
}

.pagination {
  justify-content: center;
}

ul.pagination {
  margin: 0;
  width: 50%;
  padding: 7px;
  margin: 10px auto 0px;
}

ul.pagination li {
  cursor: pointer;
  font-size: 1rem;
}

ul.pagination li.selected {
  background: #0c5480;
  border-radius: 18px;
  margin: 0 8px;
}

ul.pagination li.selected a {
  color: white;
  outline: none;
}

.pagination li a {
  color: #2f353a;
}

ul.pagination li.selected a:hover {
  text-decoration: none;
}

ul.pagination li.selected a:focus {
  color: white;
  outline: none;
}


li.previous,
li.next{
  margin: 0 10px;
}

.pagination-page {
  padding: 0 10px;
}






